/* ___________________________________footer-section */

.footer-section{
    /* border: 1px solid red; */
    margin-top: 80px;
    max-width: 1500px;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    background-color: #2F2F2F;
    color: whitesmoke;
    border-radius: 30px 30px 0 0;
    gap: 0 20px;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 8px;
  color: whitesmoke;
  font-weight: 600;
}

.footer-section p,
.footer-section li,
.footer-section a {
  font-size: 14px;
  color: #999;
  text-decoration: none;
}

.footer-left {
    display: flex;
    justify-content: space-around;
}

.footer-left p {
    margin: 6px 0;
}

.footer-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-left li {
    list-style: none;
    margin-bottom: 8px;
}

.footer-left li:hover {
  color: #F0D0DB;
  text-decoration: underline;
}

.footer-right {
    display: flex;
    gap: 0 15px;
}


/* ___________________________________subscribe */

input {
    padding: 6px 8px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    font-size: 16px;
    width: auto;
    gap: 5px;
}

.subscribe p {
    margin: 8px 0px;
    font-size: 14px;
    color: #999;
}

/* ___________________________________support */

.support h3 a {
  cursor: pointer;
  color: #999;
}

.support h3 a:hover {
  color: #F0D0DB;
  text-decoration: underline;
}

/* ___________________________________privacy */

.footer-privacy {
    border-top: 1px solid #444;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    color: #999;
    margin-top: 20px;
    grid-column: 1 / -1;
    padding-top: 10px;
}

.footer-privacy a {
  color: #bbb;
  margin: 0 6px;
}

.footer-privacy a:hover {
  color: #eee;
  text-decoration: underline;
}
