html {
    scroll-behavior: smooth;
}

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(47, 47, 47, 0.3);
  color: whitesmoke;
  padding: 6px 6px;
  border-radius: 15%;
  font-size: 32px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
}

.main-container {
    margin: auto 50px;
    padding: 0;
    font-family: 'Happy Moneky', sans-serif;
    font-size: 18px;
    background: linear-gradient(rgba(47,47,47,0.2),
                                rgba(47,47,47,0.2)),
                                url('images/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

/* ___________________________________header */

header {
    /* border: 1px solid red; */
    width: 1802px;
    height: 70px;
    display: flex;
    margin: 15px 0px;
}

p {
    margin: 0;
    padding: 0;
}

.container-logo {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

#logo-img {
    height: 70px;
}

#logo-txt {
    font-family: 'Pacifico', sans-serif;
    font-size: 30px;
}

.container-links {
    /* border: 1px solid red; */
    display: flex;
    align-items: end;
    margin: auto;
    gap: 60px;
}

.links {
    text-decoration: none;
    color: black;
    transition:  0.3s ease;
    font-weight: 700;
}

.links:active {
    transform: scale(1.2);
}

#facebook-logo,
#insta-logo,
#tik-tok-logo {
    height: 25px;
}

.container-btn {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.donate-btn {
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    background: none;
    font-size: 16px;
    font-weight: 700;
}

.donate-btn:hover,
.donate-btn:focus {
    color:#2F2F2F;
    transition: 0.3s;
}

.donate-btn:active {
    background-color: #2F2F2F;
    color: whitesmoke;
    transform: scale(1.2);
}

/* ___________________________________hero-section */

.hero-section {
    /* border: 1px solid red; */
    background: linear-gradient(rgba(0, 0, 0, 0.2), 
                                rgba(0, 0, 0, 0.2)), 
                                url('images/dog10.jpg');
    box-shadow: 0 4px 12px #2F2F2F;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
    position: relative;
    border-radius: 30px;
    width: 1805px;
    height: 600px;
}

.hero-content {
    /* border: 1px solid red; */
    color: #2F2F2F;
    text-align: start;
    max-width: 550px;
    position: absolute;
    top: 40%;
    left: 10%;
    
}

.hero-content h1 {
    font-family: 'Pacifico', sans-serif;
    font-size: 42px;
}

.hero-content h3 {
    font-size: 25px;
    margin-bottom: 50px;
    max-width: 450px;
}

.cta-btn{
    border: 2px solid;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 30px;
    color:#2F2F2F;
    text-decoration: none;
    cursor: pointer;
}

.cta-btn:hover {
    color:#2F2F2F;
    transition: 0.3s;
}

.cta-btn:active {
    color: whitesmoke;
    background-color: #2F2F2F;
    transform: scale(1.2);

}    


/* ___________________________________about */

.about-section {
    margin: 80px auto 0;
}

.about-content {
    /* border: 1px solid red; */
    width: 1805px;
    height: 568px;
    color: #2F2F2F;
    display: flex;
    gap: 50px;
}

.about-section h3 {
    /* border: 1px solid red; */
    font-family: 'Pacifico', sans-serif;
    color: black;
    font-size: 42px;
    margin: 0 20px 0;
    padding: 0;
    justify-self: center;
    align-content: end;
}

.left-side img {
    margin-top: 30px;
    width: 800px;
    border-radius: 30px;
    border: 0.5px solid #2F2F2F;
    box-shadow: 0 4px 12px #2F2F2F;
    display: block;
}

.right-side {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.right-side p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    /* width: 70%; */
}

.statistic-box {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #2F2F2F;
    border-radius: 30px;
    padding: 15px 30px;
    font-weight: 600;
    width: 60%;
}

.statistic-box .number {
    font-size: 25px;
}


/* ___________________________________pet-section */

.pet-section {
    /* border: 1px solid #2F2F2F; */
    border-radius: 30px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding: 30px 60px;
    background-color: #c4c4c4be;
    width: 1685px;
    height: 720;
}

.title {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.title h2 {
    font-family: 'Pacifico', sans-serif;
    font-size: 42px;
    text-align: center;
}

.img-box {
    /* border: 3px solid black; */
    position: relative;
    width: 300px;
    height: 300px;
}

.img-box img {
    /* border: 1px solid white; */
    width: 300px;
    height: 300px;;
    object-fit: cover;
    object-position: 45% 40%;
    border-radius: 30px;
    box-shadow: 0 4px 12px #2F2F2F;
}

.img-box:nth-of-type(2) img {
    object-position: 55% 35%;
}

.img-box:nth-of-type(4) img {
    object-position: 90% 40%;
}

.img-box:nth-of-type(5) img {
    object-position: 56% 0%;

}

.img-box span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: whitesmoke;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.5);
    padding: 6px 10px;
    border-radius: 30px;
}

.btn-contact-us {
    border: 2px solid;
    padding: 15px 30px;
    border-radius: 30px;
    color:#2F2F2F;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn-contact-us:hover {
    color:#2F2F2F;
    transition: 0.3s;
}

.btn-contact-us:active {
    color: whitesmoke;
    background-color: #2F2F2F;
}


/* ___________________________________stories-section */

.adoption-stories-section {
    margin-top: 80px;
    width: 1805px;
    height: 1506px;
}

section h1 {
    font-size: 42px;
    font-family: 'Pacifico', sans-serif;
    margin: 30px 0;
    text-align: center;
}

.stories-container {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    font-size: 18px;
}

.story-box {
    border: 2px solid #2F2F2F;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 12px #2F2F2F;

}

.story-box img {
    width: 300px;
    height: 100%;
    object-fit: cover;
    border-radius: 30px ;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 4px 12px #2F2F2F;
}

.stories-text {
    margin: 0 10px;
}


/* ___________________________________faq */

.faq-section {
  width: 1000px;
  height: 474px;
  margin: 40px auto;
}

.faq-section h1 {
    margin-top: 80px;
}

details {
  border: 1px solid #2F2F2F;
  box-shadow: 0 4px 12px #2F2F2F;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: none;
  font-size: 20px;
  transition: 0.8s ease;
  background-color: #838282;
  box-shadow: 0 4px 12px #2F2F2F;

}

details[open] {
  background-color: #BFBFBF;
}

details p{
    margin-top: 10px;
}

summary {
  cursor: pointer;
  font-weight: bold;
  position: relative;
  padding-right: 25px;
  list-style: none;
}

summary::after {
  content: '+';
  position: absolute;
  right: 0;
  transition: transform 0.8s ease;
}

details[open] summary::after {
  content: '–';
}

/* ___________________________________footer-section */

.footer-section{
    margin-top: 80px;
    width: 1725px;
    height: 150px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10px;
  background-color: #2F2F2F;
  color: whitesmoke;
  padding: 30px 40px;
  border-radius: 30px 30px 0 0;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 8px;
  color: whitesmoke;
  font-weight: 600;
}

.footer-section p,
.footer-section li,
.footer-section a {
  font-size: 14px;
  color: #999;
  text-decoration: none;
}

.footer-left {
    display: flex;
    justify-content: space-around;
}

.footer-left p {
    margin: 6px 0;
}

.footer-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-left li {
    list-style: none;
    margin-bottom: 8px;
}

.footer-left li:hover {
  color: whitesmoke;
  text-decoration: underline;
}

.footer-right {
    display: flex;
    justify-content: space-around;
}


/* ___________________________________subscribe */

input {
    padding: 6px 8px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    font-size: 16px;
    width: auto;
}

button {
    padding: 6px 8px;
    background-color: whitesmoke;
    color: #2F2F2F;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    color: whitesmoke;
    background-color: #2F2F2F;
    transition: 0.3s;
}

button:active {
    color: #2F2F2F;
    background-color: whitesmoke;
}

.subscribe p {
    margin: 8px 0px;
  font-size: 14px;
  color: #999;
}

/* ___________________________________support */

.support h3 a {
  cursor: pointer;
  color: #999;
}

.support h3 a:hover {
  color: whitesmoke;
  text-decoration: underline;
}

/* ___________________________________privacy */

.footer-privacy {
    border-top: 1px solid #444;
    display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #999;
  margin-top: 20px;
  grid-column: 1 / -1;
}

.footer-privacy a {
  color: #bbb;
  margin: 0 6px;
}

.footer-privacy a:hover {
  color: #eee;
  text-decoration: underline;
}



/* ___________________________________media queries */


